.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  position: fixed;
  cursor: pointer;
  right: 1;
  top: 2rem;
  transition: transform 0.4s, opacity 0.2s;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #fff;
  transition: background 0.4s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #333;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #717171;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.toggle--hidden {
  transform: translateY(-100%);
  opacity: 0;
}



/* Small screens */
@media only screen and (max-width: 768px) {
  .toggle {
    margin-left: 10px;
    /* top: 50%; */
    transform: translateY(-50%);
  }
  .toggle__fill {
    margin-left: 0px;
  }
}

/* Medium screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .toggle {
    margin-left: 20px;
  }
}

/* Large screens */
@media only screen and (min-width: 1025px) {
  .toggle {
    margin-left: 33cm;
    top: 2rem;
  }
}