.toggle {
  --width: 50px;
  --height: 24px;
  --border-radius: 12px;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  right: 1rem;
  top: 2rem;
  transition: transform 0.4s, opacity 0.2s;
}

.toggle__input {
  display: none;
}

.toggle__button {
  position: relative;
  width: var(--width);
  height: var(--height);
  /* background-color: #666; */
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.sun-icon,
.moon-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.toggle__input:checked ~ .toggle__button .sun-icon {
  transform: translateY(-10%);
}

.toggle__input:checked ~ .toggle__button .moon-icon {
  transform: translateY(20%);
}

.toggle__fill {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--height);
  height: var(--height);
  background: #fff;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle--hidden {
  transform: translateY(-100%);
  opacity: 0;
}
