  .dark-theme {
  --color-bg: #333333;
  --color-bg-variant: #2c2c6c;
  --color-primary: #04c3ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  }

  .light-theme {
  --color-bg: #F8F8F8;
  --color-bg-variant: #111b20;
  --color-primary: #28A745 ;
  --color-primary-variant: #777777;
  --color-white: #1E7E34;
  } 
  
  .light-theme .about_card h5 {
     color: #999999;
  }

  .light-theme .about_card small {
    color: var(--toast-error);
  }

  .light-theme .about_content p {
    color: #444444;
 }

  .light-theme .experience_details h4 {
     color: #04c3ff;
  }
  
  .light-theme .experience_details small {
    color: var(--toast-success);
 }

 .light-theme .client_name {
   color: #04c3ff;
 }

 .light-theme .contact_option h4 {
   color: #04c3ff;
 }

 .light-theme .contact_option h5 {
  color: var(--toast-success);
}