* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #333333;
  --color-bg-variant: #2c2c6c;
  --color-primary: #04c3ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --light-blue: #04c3ff;
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #f57f17;
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0cbfae;
  --loader-color: #0cbfae;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Semi-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Playfair/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Semi-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Playfair/PlayfairDisplay-SemiBold.ttf');
}

html {
  scroll-behavior: smooth;
  scrollbar-width: auto;
}

/* Set scrollbar width and background color */
::-webkit-scrollbar {
  width: 6px !important;
}
/* Set thumb color and appearance */
::-webkit-scrollbar-thumb {
  background-color: var(--sea-green-dark);
  height: 20vh;
}
/* Set track color */
::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

/* Non-WebKit browsers */
/* Set scrollbar width and background color */
::-webkit-scrollbar {
  width: 6px !important;
  /* height: 10px; */
}
/* Set thumb color and appearance */
::-webkit-scrollbar-thumb {
  background-color: var(--sea-green-dark);
  height: 20vh;
}
/* Set track color */
::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

/* For IE and Edge */
/* Set scrollbar width and color */
*::-ms-scrollbar {
  width: 10px;
  height: 10px;
}
/* Set thumb color and appearance */
*::-ms-thumb {
  background-color: var(--sea-green-dark);
  height: 20vh;
}
/* Set track color */
*::-ms-track {
  background-color: var(--color-white);
}

@supports (scrollbar-color: var(--light-blue)) {
  * {
    scrollbar-color: var(--sea-green-dark) var(--color-white);
    scrollbar-width: auto;
  }
}
body {
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  margin: 0;
  overflow-y: overlay;
  font-family: 'Playfair Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General Styles */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  scroll-snap-type: y mandatory;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: 'Open Sans Regular';
}

h1 {
  font-weight: 200;
  font-family: 'Playfair Semi-Bold';
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--sea-green-dark);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  font-family: 'Open Sans Bold';
  display: inline-block;
  color: var(--color-primary);
  /* background: #ff5823; */
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:active {
  transform: translateY(2px);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
  border: 2px solid linen;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media Query (Medium Devices) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 6rem;
  }
}

/* Media Query (Small Devices) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
